<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.repay.android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:name=".ImageCache"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIkmk6ILUwrm1ljP0rjy0L139Kt2szKuXTjYhZ9w" />
        <activity
            android:name="com.repay.android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.repay.android.adddebt.AddDebtActivity"
            android:label="@string/title_activity_add_debt"
            android:parentActivityName="com.repay.android.MainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.repay.android.MainActivity" />
        </activity>
        <activity
            android:name="com.repay.android.adddebt.RepayDebtActivity"
            android:label="@string/title_activity_add_debt"
            android:parentActivityName="com.repay.android.MainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.repay.android.MainActivity" />
        </activity>
        <activity
            android:name="com.repay.android.adddebt.EditDebtActivity"
            android:label="@string/title_activity_add_debt"
            android:parentActivityName="com.repay.android.MainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.repay.android.MainActivity" />
        </activity>
        <activity
            android:name="com.repay.android.frienddetails.FriendDetailsActivity"
            android:label="@string/title_activity_frienddetails"
            android:parentActivityName="com.repay.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.repay.android.MainActivity" />
        </activity>
        <activity
            android:name="com.repay.android.settings.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:parentActivityName="com.repay.android.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.repay.android.MainActivity" />
        </activity>
    </application>

</manifest>
